<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lmz.hc.mapper..SysDictMapper">
  <!--<resultMap id="BaseResultMap" type="model.SysDict">-->
    <!--<id column="id" jdbcType="BIGINT" property="id" />-->
    <!--<result column="type" jdbcType="VARCHAR" property="type" />-->
    <!--<result column="dict_key" jdbcType="VARCHAR" property="dictKey" />-->
    <!--<result column="dict_value" jdbcType="VARCHAR" property="dictValue" />-->
    <!--<result column="parent_key" jdbcType="VARCHAR" property="parentKey" />-->
    <!--<result column="sequence" jdbcType="INTEGER" property="sequence" />-->
    <!--<result column="sys_flag" jdbcType="VARCHAR" property="sysFlag" />-->
    <!--<result column="introduce" jdbcType="VARCHAR" property="introduce" />-->
    <!--<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />-->
    <!--<result column="operate_date" jdbcType="TIMESTAMP" property="operateDate" />-->
    <!--<result column="create_user" jdbcType="BIGINT" property="createUser" />-->
    <!--<result column="operate_user" jdbcType="BIGINT" property="operateUser" />-->
    <!--<result column="del_flag" jdbcType="VARCHAR" property="delFlag" />-->
  <!--</resultMap>-->
  <!--<sql id="Example_Where_Clause">-->
    <!--<where>-->
      <!--<foreach collection="oredCriteria" item="criteria" separator="or">-->
        <!--<if test="criteria.valid">-->
          <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
            <!--<foreach collection="criteria.criteria" item="criterion">-->
              <!--<choose>-->
                <!--<when test="criterion.noValue">-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue">-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue">-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue">-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Update_By_Example_Where_Clause">-->
    <!--<where>-->
      <!--<foreach collection="example.oredCriteria" item="criteria" separator="or">-->
        <!--<if test="criteria.valid">-->
          <!--<trim prefix="(" prefixOverrides="and" suffix=")">-->
            <!--<foreach collection="criteria.criteria" item="criterion">-->
              <!--<choose>-->
                <!--<when test="criterion.noValue">-->
                  <!--and ${criterion.condition}-->
                <!--</when>-->
                <!--<when test="criterion.singleValue">-->
                  <!--and ${criterion.condition} #{criterion.value}-->
                <!--</when>-->
                <!--<when test="criterion.betweenValue">-->
                  <!--and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}-->
                <!--</when>-->
                <!--<when test="criterion.listValue">-->
                  <!--and ${criterion.condition}-->
                  <!--<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">-->
                    <!--#{listItem}-->
                  <!--</foreach>-->
                <!--</when>-->
              <!--</choose>-->
            <!--</foreach>-->
          <!--</trim>-->
        <!--</if>-->
      <!--</foreach>-->
    <!--</where>-->
  <!--</sql>-->
  <!--<sql id="Base_Column_List">-->
    <!--id, type, dict_key, dict_value, parent_key, sequence, sys_flag, introduce, create_date, -->
    <!--operate_date, create_user, operate_user, del_flag-->
  <!--</sql>-->
  <!--<select id="selectByExample" parameterType="model.SysDictExample" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<if test="distinct">-->
      <!--distinct-->
    <!--</if>-->
    <!--<include refid="Base_Column_List" />-->
    <!--from sys_dict-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
    <!--<if test="orderByClause != null">-->
      <!--order by ${orderByClause}-->
    <!--</if>-->
  <!--</select>-->
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from sys_dict-->
    <!--where id = #{id,jdbcType=BIGINT}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">-->
    <!--delete from sys_dict-->
    <!--where id = #{id,jdbcType=BIGINT}-->
  <!--</delete>-->
  <!--<delete id="deleteByExample" parameterType="model.SysDictExample">-->
    <!--delete from sys_dict-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="model.SysDict">-->
    <!--insert into sys_dict (id, type, dict_key, -->
      <!--dict_value, parent_key, sequence, -->
      <!--sys_flag, introduce, create_date, -->
      <!--operate_date, create_user, operate_user, -->
      <!--del_flag)-->
    <!--values (#{id,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{dictKey,jdbcType=VARCHAR}, -->
      <!--#{dictValue,jdbcType=VARCHAR}, #{parentKey,jdbcType=VARCHAR}, #{sequence,jdbcType=INTEGER}, -->
      <!--#{sysFlag,jdbcType=VARCHAR}, #{introduce,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, -->
      <!--#{operateDate,jdbcType=TIMESTAMP}, #{createUser,jdbcType=BIGINT}, #{operateUser,jdbcType=BIGINT}, -->
      <!--#{delFlag,jdbcType=VARCHAR})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="model.SysDict">-->
    <!--insert into sys_dict-->
    <!--<trim prefix="(" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="type != null">-->
        <!--type,-->
      <!--</if>-->
      <!--<if test="dictKey != null">-->
        <!--dict_key,-->
      <!--</if>-->
      <!--<if test="dictValue != null">-->
        <!--dict_value,-->
      <!--</if>-->
      <!--<if test="parentKey != null">-->
        <!--parent_key,-->
      <!--</if>-->
      <!--<if test="sequence != null">-->
        <!--sequence,-->
      <!--</if>-->
      <!--<if test="sysFlag != null">-->
        <!--sys_flag,-->
      <!--</if>-->
      <!--<if test="introduce != null">-->
        <!--introduce,-->
      <!--</if>-->
      <!--<if test="createDate != null">-->
        <!--create_date,-->
      <!--</if>-->
      <!--<if test="operateDate != null">-->
        <!--operate_date,-->
      <!--</if>-->
      <!--<if test="createUser != null">-->
        <!--create_user,-->
      <!--</if>-->
      <!--<if test="operateUser != null">-->
        <!--operate_user,-->
      <!--</if>-->
      <!--<if test="delFlag != null">-->
        <!--del_flag,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides=",">-->
      <!--<if test="id != null">-->
        <!--#{id,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="type != null">-->
        <!--#{type,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="dictKey != null">-->
        <!--#{dictKey,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="dictValue != null">-->
        <!--#{dictValue,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="parentKey != null">-->
        <!--#{parentKey,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="sequence != null">-->
        <!--#{sequence,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="sysFlag != null">-->
        <!--#{sysFlag,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="introduce != null">-->
        <!--#{introduce,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createDate != null">-->
        <!--#{createDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="operateDate != null">-->
        <!--#{operateDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="createUser != null">-->
        <!--#{createUser,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="operateUser != null">-->
        <!--#{operateUser,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="delFlag != null">-->
        <!--#{delFlag,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<select id="countByExample" parameterType="model.SysDictExample" resultType="java.lang.Long">-->
    <!--select count(*) from sys_dict-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Example_Where_Clause" />-->
    <!--</if>-->
  <!--</select>-->
  <!--<update id="updateByExampleSelective" parameterType="map">-->
    <!--update sys_dict-->
    <!--<set>-->
      <!--<if test="record.id != null">-->
        <!--id = #{record.id,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="record.type != null">-->
        <!--type = #{record.type,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.dictKey != null">-->
        <!--dict_key = #{record.dictKey,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.dictValue != null">-->
        <!--dict_value = #{record.dictValue,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.parentKey != null">-->
        <!--parent_key = #{record.parentKey,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.sequence != null">-->
        <!--sequence = #{record.sequence,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="record.sysFlag != null">-->
        <!--sys_flag = #{record.sysFlag,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.introduce != null">-->
        <!--introduce = #{record.introduce,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="record.createDate != null">-->
        <!--create_date = #{record.createDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="record.operateDate != null">-->
        <!--operate_date = #{record.operateDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="record.createUser != null">-->
        <!--create_user = #{record.createUser,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="record.operateUser != null">-->
        <!--operate_user = #{record.operateUser,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="record.delFlag != null">-->
        <!--del_flag = #{record.delFlag,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByExample" parameterType="map">-->
    <!--update sys_dict-->
    <!--set id = #{record.id,jdbcType=BIGINT},-->
      <!--type = #{record.type,jdbcType=VARCHAR},-->
      <!--dict_key = #{record.dictKey,jdbcType=VARCHAR},-->
      <!--dict_value = #{record.dictValue,jdbcType=VARCHAR},-->
      <!--parent_key = #{record.parentKey,jdbcType=VARCHAR},-->
      <!--sequence = #{record.sequence,jdbcType=INTEGER},-->
      <!--sys_flag = #{record.sysFlag,jdbcType=VARCHAR},-->
      <!--introduce = #{record.introduce,jdbcType=VARCHAR},-->
      <!--create_date = #{record.createDate,jdbcType=TIMESTAMP},-->
      <!--operate_date = #{record.operateDate,jdbcType=TIMESTAMP},-->
      <!--create_user = #{record.createUser,jdbcType=BIGINT},-->
      <!--operate_user = #{record.operateUser,jdbcType=BIGINT},-->
      <!--del_flag = #{record.delFlag,jdbcType=VARCHAR}-->
    <!--<if test="_parameter != null">-->
      <!--<include refid="Update_By_Example_Where_Clause" />-->
    <!--</if>-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="model.SysDict">-->
    <!--update sys_dict-->
    <!--<set>-->
      <!--<if test="type != null">-->
        <!--type = #{type,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="dictKey != null">-->
        <!--dict_key = #{dictKey,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="dictValue != null">-->
        <!--dict_value = #{dictValue,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="parentKey != null">-->
        <!--parent_key = #{parentKey,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="sequence != null">-->
        <!--sequence = #{sequence,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="sysFlag != null">-->
        <!--sys_flag = #{sysFlag,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="introduce != null">-->
        <!--introduce = #{introduce,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="createDate != null">-->
        <!--create_date = #{createDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="operateDate != null">-->
        <!--operate_date = #{operateDate,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="createUser != null">-->
        <!--create_user = #{createUser,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="operateUser != null">-->
        <!--operate_user = #{operateUser,jdbcType=BIGINT},-->
      <!--</if>-->
      <!--<if test="delFlag != null">-->
        <!--del_flag = #{delFlag,jdbcType=VARCHAR},-->
      <!--</if>-->
    <!--</set>-->
    <!--where id = #{id,jdbcType=BIGINT}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="model.SysDict">-->
    <!--update sys_dict-->
    <!--set type = #{type,jdbcType=VARCHAR},-->
      <!--dict_key = #{dictKey,jdbcType=VARCHAR},-->
      <!--dict_value = #{dictValue,jdbcType=VARCHAR},-->
      <!--parent_key = #{parentKey,jdbcType=VARCHAR},-->
      <!--sequence = #{sequence,jdbcType=INTEGER},-->
      <!--sys_flag = #{sysFlag,jdbcType=VARCHAR},-->
      <!--introduce = #{introduce,jdbcType=VARCHAR},-->
      <!--create_date = #{createDate,jdbcType=TIMESTAMP},-->
      <!--operate_date = #{operateDate,jdbcType=TIMESTAMP},-->
      <!--create_user = #{createUser,jdbcType=BIGINT},-->
      <!--operate_user = #{operateUser,jdbcType=BIGINT},-->
      <!--del_flag = #{delFlag,jdbcType=VARCHAR}-->
    <!--where id = #{id,jdbcType=BIGINT}-->
  <!--</update>-->
</mapper>